<h1 align="left">Coupons</h1>

<p align="left">These coupons may be used at M &amp; M Service in Taylorsville, Utah. ADDITIONAL COUPONS can be found by clicking on the services listed at the right.</p>

<p class="style6" align="center">CLICK ON COUPON FOR EASY PRINTING</p>

<% @coupons.each do |coupon| %>
    <article>
        <h1 class="coupon_title"><%= coupon.title %></h1>
        <%= link_to image_tag("web10_png.png", class: "coupon"), coupon_path(coupon) %>
    </article>

<% end %>
