
<h1 align="left">M &amp; M Service Coupons</h1>

<p align="left">These coupons may be used at M &amp; M Service in Taylorsville, Utah. ADDITIONAL COUPONS can be found by clicking on the services listed at the right.</p>

<p class="style6" align="center">CLICK ON COUPON FOR EASY PRINTING</p>

<% @coupons.each do |coupon| %>
    <article>
        <h1 class="coupon_title"><%= coupon.title %></h1>
        <%= image_tag "http://jiffylubeutah.com/images/web10.jpg" %>
    </article>
    
<% end %>