/* RESETS */
ul, ol {
  margin: 0;
  padding: 0; }

figure {
  margin: 0; }

/* common */
body > header {
  display: flex; }
  body > header > nav {
    display: flex; }
    body > header > nav ul {
      display: flex; }

section.main-content {
  display: flex; }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #333; }

/* Small viewport */
@media all and (max-width: 599px) {
  /* header of the blog */
  body > header {
    /* elements flow like a row, no wrapping*/
    flex-flow: column nowrap;
    /* the items are aligned vertically in the center */
    justify-content: center;
    align-items: stretch;
    background-color: #333;
    color: white;
    font-size: 13px;
    line-height: 18;
    background-image: image-url('mmservicestationbannerandlogo1.gif');
    background-repeat:no-repeat;
    background-size: 100%;
    body > header section.brand h1 {
      margin: 20px 0;
      text-align: center; }
    body > header > nav {
      justify-content: center; }
      body > header > nav ul {
        flex-flow: column nowrap;
        list-style: none;
        font-size: 2em;
        align-items: center; }
        body > header > nav ul li {
          display: block;
          padding: 6px;
          transition: background-color 1s; }
          body > header > nav ul li:hover {
            background-color: #666; }
          body > header > nav ul li a {
            color: white; }
          body > header > nav ul li a:hover {
            color: white;
            text-decoration: none; }
  section.main-content {
    flex-flow: column nowrap; }
    section.main-content > section article {
      padding: 5%; }
    section.main-content > aside {
      background-color: lightskyblue; }
      section.main-content > aside .my-bio {
        margin: 5% 0; }
        section.main-content > aside .my-bio figure {
          display: flex;
          align-items: center;
          justify-content: space-around; }
          section.main-content > aside .my-bio figure img {
            display: block;
            border-radius: 100px;
            margin-left: 10%; }
          section.main-content > aside .my-bio figure figcaption {
            margin: 0 10%;
            align-self: stretch; } }

/* Big viewport */
@media all and (min-width: 600px) and (max-width: 1300px) {
  /* header of the blog */
  body > header {
    /* elements will have space on both sides */
    justify-content: space-around;
    /* the items are aligned vertically in the center */
    align-items: stretch;
    background-color: #333;
    color: white; }
    body > header section.brand h1 {
      margin: 20px 0; }
    body > header > nav ul {
      list-style: none;
      justify-content: flex-end;
      align-items: center; }
      body > header > nav ul li {
        display: block;
        padding: 6px;
        transition: background-color 1s; }
        body > header > nav ul li:hover {
          background-color: #666; }
        body > header > nav ul li a {
          color: white; }
        body > header > nav ul li a:hover {
          color: white;
          text-decoration: none; }
  section.main-content > section {
    flex: 3; }
    section.main-content > section article {
      padding: 5%; }
  section.main-content > aside {
    flex: 1;
    background-color: lightskyblue; }
    section.main-content > aside .my-bio {
      margin: 5% auto; }
      section.main-content > aside .my-bio figure img {
        display: block;
        border-radius: 100px;
        margin: 0 auto; } }

/* Big big Big displays */
@media all and (min-width: 1300px) {
  /* header of the blog */
  body > header {
    /* elements will have space on both sides */
    justify-content: space-around;
    /* the items are aligned vertically in the center */
    align-items: stretch;
    background-color: #333;
    color: white; }
    body > header section.brand h1 {
      margin: 20px 0; }
    body > header > nav ul {
      list-style: none;
      justify-content: flex-end;
      align-items: center; }
      body > header > nav ul li {
        display: block;
        padding: 6px;
        transition: background-color 1s; }
        body > header > nav ul li:hover {
          background-color: #666; }
        body > header > nav ul li a {
          color: white; }
        body > header > nav ul li a:hover {
          color: white;
          text-decoration: none; }
  section.main-content > section {
    flex: 3;
    padding-left: 5%; }
    section.main-content > section article {
      padding: 5%; }
  section.main-content > aside {
    flex: 1;
    background-color: lightskyblue; }
    section.main-content > aside .my-bio {
      margin: 5% auto; }
      section.main-content > aside .my-bio figure img {
        display: block;
        border-radius: 100px;
        margin: 0 auto; } }

/*# sourceMappingURL=blog.css.map */