@import "bourbon";

$base-spacing: 30px;
$icon-size: 14px;
$light-purple: #E2E9FA;
$dark-purple: #A3AEC5;

// Screen sizes
$small-screen-size: 640px;
$medium-screen-size: 768px;

@mixin below($screen-size) {
  @media only screen and (max-width: $screen-size) {
    @content;
  }
}

body {
  background-color: #F5FCFF;
}

.wrapper {
  margin: 0 auto;
  max-width: 90%;
  padding: 0 $base-spacing;
  
  header & {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }
}

header {
  background-color: #B9C1D6;
  height: 80px;
  margin-bottom: $base-spacing;
}

.navigation {
  display: flex;
  @include below($small-screen-size) {
    display: none;
  }
}
 
.logo,
.icon {
  background-color: $dark-purple;
}

.logo {
  width: 80px;
  height: $icon-size;
}

.icon {
  width: $icon-size;
  height: $icon-size;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.mobile-menu-icon {
  width: 40px;
  height: $icon-size;
  display: none;
  background-color: #ffffff;

  @include below($small-screen-size) {
    display: block;
  }
}

.main-content {
  display: flex;
  margin-bottom: $base-spacing;
  
  @include below($small-screen-size) {
    flex-direction: column;
  }
}

.intro {
  margin-right: $base-spacing;
  flex: 0.75;
  background-color: #B9C1D6;
  
  @include below($small-screen-size) {
    margin-right: 0;
    margin-bottom: $base-spacing;
  }
}

.sidebar {
  flex: 0.25;
  margin-right: $base-spacing;
  background-color: $light-purple;
  
  &:last-child {
    margin-right: 0;
  }
}

.intro,
.sidebar {
  height: 500px;
  
  @include below($medium-screen-size) {
    flex: 0.5;
  }
  
  @include below($small-screen-size) {
    flex: 1;
  }
}

.featured-tiles {
  display: flex;
  margin-bottom: $base-spacing;
  flex-wrap: wrap;
  
  @include below($small-screen-size) {
    flex-direction: column;
  }
}

.tile {
  flex: 0.25;
  background-color: $light-purple;
  margin-right: $base-spacing;
  height: 100px;
 
  &:last-child {
    margin-right: 0;
  }
  
  @include below($small-screen-size) {
    margin-bottom: $base-spacing;
    margin-right: 0;
  }
}

