body {
  background-color: #F5FCFF;
}

.wrapper {
  margin: 0 auto;
  max-width: 90%;
}

header {
  background-color: #B9C1D6;
  height: 80px;
  margin-bottom: 30px;
}

header .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

.navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
 
.logo,
.icon {
  background-color: #A3AEC5;
}

.logo {
  width: 80px;
  height: 14px;
}

.icon {
  width: 14px;
  height: 14px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.mobile-menu-icon {
  width: 40px;
  height: 14px;
  background-color: #ffffff;
  display: none;
}

.logo {
  width: 80px;
  height: 14px;
  background-color: #A3AEC5;
}

.main-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.intro {
  margin-right: 30px;
  -webkit-box-flex: 0.75;
  -webkit-flex: 0.75;
      -ms-flex: 0.75;
          flex: 0.75;
  background-color: #B9C1D6;
}

.sidebar {
  -webkit-box-flex: 0.25;
  -webkit-flex: 0.25;
      -ms-flex: 0.25;
          flex: 0.25;
  background-color: #E2E9FA;
}

.intro,
.sidebar {
  height: 400px;
}

.featured-tiles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.tile {
  -webkit-box-flex: 0.25;
  -webkit-flex: 0.25;
      -ms-flex: 0.25;
          flex: 0.25;
  background-color: #E2E9FA;
  margin-right: 30px;
  height: 100px;
}

.tile:last-child {
  margin-right: 0;
}

@media (max-width: 768px) {
  .intro,
  .sidebar {
    -webkit-box-flex: 0.5;
    -webkit-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
  }
  
  .tile {
    -webkit-box-flex: 0.5;
    -webkit-flex: 0.5;
        -ms-flex: 0.5;
            flex: 0.5;
  }
}

@media (max-width: 520px) {
  .navigation {
    display: none;
  }
  
  .mobile-menu-icon {
    display: block;
  }
 
  .main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .intro,
  .sidebar {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  
  .intro {
    margin-bottom: 30px;
    margin-right: 0;
  }
  
  .featured-tiles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .tile {
    margin-bottom: 30px;
    margin-right: 0;
  }
}