<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>M&amp;M Service</title>
    <style>
    </style>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div class="box">
      <header>
        <div class="logo_and_title">
          <a href="/"><div class="logo"></div></a>
          <h1><a href="/">M&amp;M Service</a></h1>
        </div>
        <nav><a href="/" class="nav_link">Home</a> <a href="/services" class="nav_link">Services</a> <a href="/coupons" class="nav_link">Coupons</a> <a href="/pages/contact_us" class="nav_link">Location</a> <a href="pages/contact_us" class="nav_link">Contact</a></nav>
      </header>

      <!--Left Column--->

      <section class="mainkazoo">
          <%= yield %>
      </section>

      <!--Right Column--->

      <section class="sidebarkazoo">
      <article class="reverse">
      <p>&nbsp;</p>

          <h2>M&amp;M<br> Maintenance Services</h2>
          <div class="sidebarlist" align="left">

          <%= render :partial => "shared/service_listing", :collection => all_services %>
          <p>&nbsp;&nbsp;</p>
          </div>
          <p class="sidebar" align="left">These services are available at M&amp;M Service in Utah. Click on the links above to get <a href="/services">more information on each service.</a></p>
      </article>
      </section>
      <footer>
        <hr />
        <p>These services are available at these M&amp;M Services in Utah. Visit our location page for specific addresses, phone numbers and links to maps and list of services.</p>
        <p class="copyright">Copyright Dice Media Group 2016</p>
      </footer>

      <div class="jump">
        <a href="#top"><div class="up"></div></a>
      </div>
    </div>
  </body>
</html>
